<div id="footer">
    <div id="content1">
        <p>&copy; 2021 Your Company. All rights reserved.</p>  
        <button id="btn1">Click me</button>     
    </div>
    <div id="content2">
        <p>&copy; 2022 Your Company. All rights reserved.</p>       
    </div>
    <div id="content3">
        <p>&copy; 2023 Your Company. All rights reserved.</p>       
    </div>
    <div id="content4">
        <p>&copy; 2024 Your Company. All rights reserved.</p>       
    </div>
</div>

{{!-- <div id="test">
    <h1>Danh sach KH</h1> 
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            {{#each khachhangs}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.address}}</td>
                <td><button class="editKH" data-id="{{this._id}}" data-name="{{this.name}}" data-phone="{{this.phone}}" data-address="{{this.address}}">Edit</button></td>
                <td><button class="deleteKH" data-id="{{this._id}}" data-name="{{this.name}}" data-phone="{{this.phone}}" data-address="{{this.address}}">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    <h1>Add KH</h1>
    <input type="text" id="name" placeholder="Name">
    <input type="text" id="phone" placeholder="Phone">
    <input type="text" id="address" placeholder="Address">
    <button id="addKH">Add</button>
</div>



<div id="testproduct">
    <h1>Danh sach Product</h1> 
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Decription</td>
                <td>IMG Link</td>
            </tr>
        </thead>
        <tbody>
            {{#each sanphams}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.description}}</td>
                <td><img src="{{this.image}}" style="width: 20px; height: 20px;"></td>
                <td><button class="editSP" data-id="{{this._id}}" data-name="{{this.name}}" data-price="{{this.price}}" data-description="{{this.description}}" data-image="{{this.image}}">Edit</button></td>
                <td><button class="deleteSP" data-id="{{this._id}}" data-name="{{this.name}}" data-price="{{this.price}}" data-description="{{this.description}}" data-image="{{this.image}}">Delete</button></td> 
            </tr>
            {{/each}}
        </tbody>
    </table>
    
    <h1>Add SP</h1>
    <input type="text" id="sp_name" placeholder="Name">
    <input type="number" id="sp_price" placeholder="Price">
    <input type="text" id="sp_description" placeholder="Description">
    <input type="text" id="sp_image" placeholder="IMG Link">
    <button id="addSP">Add</button>
</div> --}}